
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEnseignantLabel">Create or edit a Enseignant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.enseignant.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.enseignant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ensName">Ens Name</label>
            <input type="text" class="form-control" name="ensName" id="field_ensName"
                    ng-model="vm.enseignant.ensName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ensPrenom">Ens Prenom</label>
            <input type="text" class="form-control" name="ensPrenom" id="field_ensPrenom"
                    ng-model="vm.enseignant.ensPrenom"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ensVille">Ens Ville</label>
            <input type="text" class="form-control" name="ensVille" id="field_ensVille"
                    ng-model="vm.enseignant.ensVille"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ensRue">Ens Rue</label>
            <input type="text" class="form-control" name="ensRue" id="field_ensRue"
                    ng-model="vm.enseignant.ensRue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ensCodeDep">Ens Code Dep</label>
            <input type="number" class="form-control" name="ensCodeDep" id="field_ensCodeDep"
                    ng-model="vm.enseignant.ensCodeDep"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ensTel">Ens Tel</label>
            <input type="text" class="form-control" name="ensTel" id="field_ensTel"
                    ng-model="vm.enseignant.ensTel"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ensMail">Ens Mail</label>
            <input type="text" class="form-control" name="ensMail" id="field_ensMail"
                    ng-model="vm.enseignant.ensMail"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
