<div>
    <h2>Stages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stage.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Stage
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stageAnnee"><span>Stage Annee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stageSujet"><span>Stage Sujet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="etudiantId"><span>Etudiant</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="periodeId"><span>Periode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enseignantId"><span>Enseignant</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entrepriseId"><span>Entreprise</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactId"><span>Contact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stage in vm.stages track by stage.id">
                    <td><a ui-sref="stage-detail({id:stage.id})">{{stage.id}}</a></td>
                        <td>{{stage.stageAnnee | date:'mediumDate'}}</td>
                    <td>{{stage.stageSujet}}</td>
                    <td>
                        <a ui-sref="etudiant-detail({id:stage.etudiantId})">{{stage.etudiantId}}</a>
                    </td>
                    <td>
                        <a ui-sref="periode-stage-detail({id:stage.periodeId})">{{stage.periodeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="enseignant-detail({id:stage.enseignantId})">{{stage.enseignantId}}</a>
                    </td>
                    <td>
                        <a ui-sref="entreprise-detail({id:stage.entrepriseId})">{{stage.entrepriseId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact-detail({id:stage.contactId})">{{stage.contactId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stage-detail({id:stage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stage.edit({id:stage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stage.delete({id:stage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
